<section class="order about">
  <div class="container order__container">
    <div>
      <div class="double-title order__double-title">
        <span class="double-title_span">Лучшая</span>
        Итальянская пиццерия
      </div>
      <div class="order__text-message">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At earum id nihil quam tenetur. Animi ducimus nemo
        voluptate. Architecto at atque cumque ducimus exercitationem ipsam quia quibusdam unde voluptatem voluptates!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At earum id nihil quam tenetur. Animi ducimus nemo
        voluptate. Architecto at atque cumque ducimus exercitationem ipsam quia quibusdam unde voluptatem voluptates!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At earum id nihil quam tenetur. Animi ducimus nemo
        voluptate. Architecto at atque cumque ducimus exercitationem ipsam quia quibusdam unde voluptatem voluptates!
      </div>
    </div>
    <div class="about-image">
      <img src="assets/images/pizza_big.png" alt="Pizzzzza" >
      <img src="assets/images/pizza_big.png" alt="Pizzzzza" >
    </div>
  </div>
</section>
<app-popup [data]="'about component_'"></app-popup>
