.header {
  background-color: rgb(255, 255, 255);
  padding: 16px 0 15px 0;
  box-shadow: 0 3px 13.8px 1.2px rgba(152, 152, 152, 0.2);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
}

.menu__list {
  list-style: none;
  display: flex;
  width: 489px;
  justify-content: space-between;
}

.menu__item a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: rgb(164, 107, 0);
  line-height: 1;
}
.menu__item a.active {
  color: rgb(103, 68, 0);
}

.menu__link {
  text-decoration: none;
  font-size: 16px;
  color: rgb(164, 107, 0);
  line-height: 1;
}

.menu__link_active {
  border-bottom: 1px solid grey;
}
.header__burger {
  display: none;
}
.menu__close {
  display: none;
}
.header__cart {
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
  justify-content: space-between;
  a {
    text-decoration: none;
    padding: 5px 3px;
    background-color: #ffaf18;
    color: black;
    border-radius: 5px;
    font-family: sans-serif;
  }
}


/* 768 - 1023 */
@media screen  and (max-width : 1023px) {
  .menu__list {
    width: 420px;
  }
}
