<!--<div class="product" *isChicken="product.description">-->
<div class="product" >
  <div class="product__image" *ngIf="product.image; else defaultImageBlock">
    <img [src]="'assets/images/' + product.image" [alt]="product.imageAlt">
  </div>
  <ng-template #defaultImageBlock>
    <div class="product__image">
      <img [src]="'./assets/images/pizzzzza.png'" [style]="{maxWidth: '100%', maxHeight: '100%' }" [alt]="product.imageAlt">
    </div>
  </ng-template>
  <custom-title [title]="product.title | abbreviation">
<!--  <custom-title [title]="product.title | uppercase">-->
    <!--    <p first>head message</p>-->
    <!--    <p second #second>wow</p>-->
  </custom-title>
  <app-rating [rating]="rating"></app-rating>
  <!--  <div class="product__title">{{product.title}}</div>-->
<!--  <div class="product__text" isAutoBgColor>{{ product.description | chickenDescription}}-->
  <div class="product__text" isAutoBgColor>{{ product.description | wordUpper: ['томат', 'сыр']}}
   Кол-во:{{cartProductService.getCommonCount()}}
  </div>
  <div class="product__action" #elem>
    <button class="btn product__btn btn-add-to-cart" (click)="addProductToCart()">В корзину</button>
  </div>
  <div>{{product.datetime | date: 'full' | uppercase}}</div>
</div>
<!--(click)="addToCart(product, orderElement)"-->
